 *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color: #B6DCFF;
        }
        #circulo{
            width: 256px;
            height: 256px;
            border-radius: 256px;
            background-color: #B50000;
        }
        #rectangulo{
            position: absolut;
            width: 256px;
            height: 256px;
            background: #FFCE94;
        }
        #rectangulo_alargado{
            width: 100%;
            height: 256px;
            background: #0053A0;
        }
        #triangulo{
            width: 0;
            height: 0;
            border-left: 256px solid transparent;
            border-right: 256px solid transparent;
            border-bottom: 256px solid black;
        }
        #elipse{
            width: 400px;
            height: 256px;
            border-radius: 600px;
            background: #B50000;
        }